.faq {
  .main {
    padding: 10rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 1.5rem;
      background: red;
      color: white;
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}
