.footer {
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 0;
  background-color: #f3f3f3;
  clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);

  p {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  .lists {
    display: flex;
    align-items: center;
    flex-direction: column;

    .list {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    li {
      margin: 0.2rem 0;
      a {
        opacity: 0.8;
      }
    }
  }

  .logo {
    width: 40%;
    margin-bottom: 1rem;
  }

  .social_media {
    width: 90%;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    place-items: center;
    -ms-grid-columns: (minmax(2.5em, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(2.5em, 1fr));
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;

    img {
      width: 100%;
      cursor: pointer;
    }
  }

  .bottom {
    width: 110%;
    margin-top: 3rem;
    border-top: 1px solid #4d73e52a;
    text-align: center;
    p {
      margin: 1rem 0;
      font-size: 0.9rem;
      font-weight: normal;
      color: #00aff2;
    }
  }
}

@media only screen and (min-width: 600px) {
  .footer {
    .logo {
      width: 7rem;
    }

    .social_media {
      -ms-grid-columns: (minmax(1em, 1fr)) [auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));

      img {
        width: 80%;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .footer {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);

    .social_media {
      max-width: 29rem;
      -ms-grid-columns: (minmax(3em, 5em)) [auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(3em, 5em));
    }
  }
}

@media only screen and (min-width: 1300px) {
  .footer {
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);

    .lists {
      flex-direction: row;
      align-items: flex-start;
      place-content: space-between;
      width: 80%;

      .list {
        align-items: flex-start;

        ul {
          align-items: flex-start;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .footer {
    .lists {
      width: 60%;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .footer {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    padding-top: 5rem;
    .lists {
      width: 50rem;
    }
  }
}
