.post {
  padding: 5rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  .topBanner {
    width: 100%;
    margin-bottom: 3rem;
  }

  .textSection {
    width: 100%;
    text-align: left;

    h2,
    p,
    img {
      margin: 1rem 0;
    }

    p {
      margin: 1rem 0;
      font-size: 1.1rem;
      opacity: 0.8;
    }

    img {
      width: 100%;
      border-radius: 0.5rem;
    }
  }
}

@media only screen and (min-width: 800px) {
  .post {
    padding: 10rem 1rem;
    width: 50rem;
    margin: 0 auto;

    .textSection {
      p {
        font-size: 1.4rem;
      }
    }
  }
}
